<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


	<context:component-scan base-package="com.dss"></context:component-scan>

	<!-- <bean id="loggingAspect" class="com.dss.springVaadinBasicProject.aspect.LoggingAspect" /> -->

	<bean id="masterServiceImpl" class="com.dss.springVaadinBasicProject.impl.MasterServiceImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>


	<bean id="entityManagerServiceImpl" class="com.dss.springVaadinBasicProject.impl.EntityManagerServiceImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="springDataServiceImpl" class="com.dss.springVaadinBasicProject.impl.SpringDataServiceImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- <bean id="loginEntity" class="com.dss.springVaadinBasicProject.model.LoginEntity">
		
	</bean> -->
	<!-- <bean id = "styleForm" class = "com.dss.springVaadinBasicProject.StyleForm" >
	</bean>
	
	<bean id = "myUI" class = "com.dss.springVaadinBasicProject.MyUI" >
	</bean> -->
	<!-- <bean id="emDaoImpl" class="com.dss.springVaadinBasicProject.dao.EMDaoImpl">
	</bean> -->

	<!-- <bean id="springDataServiceImpl" class="com.dss.springVaadinBasicProject.impl.SpringDataServiceImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean> -->






	<!-- <bean id="hibernateUtil" class="com.dss.basicproject.util.HibernateUtil"> 
		<property name="dataSource" ref="dataSource"></property> </bean> -->
	<!-- <bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> 
		</bean> -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@172.16.1.31:1521:DSSDEV"></property>
		<property name="username" value="scott"></property>
		<property name="password" value="tiger"></property>
		<property name="initialSize" value="0"></property>
		<property name="maxIdle" value="20"></property>
		<property name="minIdle" value="5"></property>
		<property name="maxActive" value="20"></property>
	</bean>
</beans>
